body{
	margin:0px;
}
.main{
    background-image:url(../img/bg_c.png);
    background-repeat:repeat-y;
    background-size:100%;
    margin:40px;
    margin-top:0px;
    margin-bottom:0px;
    padding:65px;
}
h2{
    background-image:url(../img/bg_tit_movie01.png);
    background-repeat:no-repeat;
    background-size:25% 10%;
    background-position:left bottom;
    margin-top:30px;
}
#img{
    display:flex;
}
#img1{
    margin: auto;
    width:90%;
}
#nabi{
    margin-top: 100px;
    margin-bottom: 100px;
}
#nabi p{
    text-align:center;
}
a:link,a:visited{
    color:red;
}
a:hover{
    color:purple;
}