body.slide-menu-open {
    position: fixed;
    height: 100%;
    overflow: hidden;
}

body.slide-menu-open nav.for-anonymous.slide-menu {
    left: 0;
}

*.for-anonymous {
    font-family: "Noto Sans JP", sans-serif;
}

*.for-anonymous .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 1100px;
}

*.for-anonymous .container:before,
*.for-anonymous .container:after {
    content: " ";
    display: table;
}

*.for-anonymous .container:after {
    clear: both;
}

@media only screen and (max-width: 768px) {
    *.for-anonymous .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 480px) {
    *.for-anonymous .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    *.for-anonymous .container {
        width: auto;
    }
}

@media only screen and (max-width: 480px) {
    *.for-anonymous .container {
        width: auto;
    }
}

*.for-anonymous .center-box {
    margin-left: auto !important;
    margin-right: auto !important;
}

*.for-anonymous .fade {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

*.for-anonymous .fade:hover {
    opacity: 0.7;
}

*.for-anonymous .mb8 {
    margin-bottom: 8px;
}

*.for-anonymous .mb20 {
    margin-bottom: 20px;
}

*.for-anonymous .mr40 {
    margin-right: 40px;
}

*.for-anonymous .mr30 {
    margin-right: 30px !important;
}

*.for-anonymous .mr20 {
    margin-right: 20px !important;
}

@media only screen and (max-width: 768px) {
    *.for-anonymous .pc {
        display: none !important;
    }
}

@media only screen and (min-width: 769px) {
    *.for-anonymous .tb {
        display: none !important;
    }
}

*.for-anonymous ul {
    margin: 0;
    padding: 0;
}

*.for-anonymous .bold {
    font-weight: bold;
}

*.for-anonymous a,
li {
    line-height: 2;
}

*.for-anonymous li {
    list-style-type: none;
}

*.for-anonymous a:hover,
a:active {
    outline: 0;
}

*.for-anonymous a,
a:hover {
    color: #333;
    text-decoration: none;
}

@media print {
    *.for-anonymous .tb,
    .sp {
        display: none !important;
    }
}

*.for-anonymous img {
    border: 0;
    vertical-align: bottom;
    max-width: 100%;
}

*.for-anonymous ::before,
::after {
    display: inline-block;
    text-decoration: inherit;
    vertical-align: inherit;
}

/* Header */

header.for-anonymous {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #ffffff;
    position: relative;
}

@media only screen and (max-width: 768px) {
    header.for-anonymous {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        position: relative;
    }
}

header.for-anonymous .header-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    margin-bottom: 15px;
}

header.for-anonymous .header-box .logo {
    width: 180px;
}

header.for-anonymous .header-box .right-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header.for-anonymous .header-box .right-side .menu-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
}

header.for-anonymous .header-box .right-side .menu-list li:not(:last-child) {
    margin-right: 30px;
}

header.for-anonymous .header-box .right-side .menu-list li a {
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

header.for-anonymous .header-box .right-side .menu-list li a::after {
    margin-top: -1px;
    margin-left: 10px;
}

header.for-anonymous .header-box .right-side .head-btn > a {
    border: 2px solid #333;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: 9px 0;
    display: inline-block;
    line-height: 1.8;
    position: relative;
    text-decoration: none;
    width: 160px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

header.for-anonymous .header-box .right-side .head-btn > a.yellow {
    background: #ffce02;
}

header.for-anonymous .header-box .right-side .head-btn > a.yellow:hover {
    background: #ffffff;
}

header.for-anonymous .header-box .right-side .head-btn > a:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border-color: #ffce02;
}

header.for-anonymous .header-box .right-side .head-btn > a::after {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    header.for-anonymous .header-box {
        margin-bottom: 0;
        padding: 12px 0 8px;
    }
    header.for-anonymous .header-box .logo {
        width: 130px;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

header.for-anonymous .has-arrow.-right::after {
    background: url("../anonymous/images/button_right.82054d4a8596.png") no-repeat left/cover;
    width: 6px;
    height: 8px;
}

header.for-anonymous .has-arrow::after {
    content: "";
}
header.for-anonymous .right-side-tb {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header.for-anonymous .right-side-tb .slidemenu-btn.active span.menu2 {
    display: none;
}

header.for-anonymous .right-side-tb .slidemenu-btn.active span.menu1 {
    -webkit-transform: rotate(45deg) translate(2px, 1px);
    transform: rotate(45deg) translate(2px, 1px);
    margin-bottom: 0 !important;
}

header.for-anonymous .right-side-tb .slidemenu-btn.active span.menu3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header.for-anonymous .right-side-tb .slidemenu-btn span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    width: 30px;
    height: 2px;
    background: #333333;
}

header.for-anonymous .right-side-tb .slidemenu-btn span:not(:last-child) {
    margin-bottom: 8px;
}

header.for-anonymous .button01 {
    display: inline-block;
    min-width: 300px;
    border: 2px solid #333;
    border-radius: 30px;
    position: relative;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.8;
    font-weight: bold;
    background: #ffce02;
    text-decoration: none;
    padding: 14px 23px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

header.for-anonymous .button01.small {
    min-width: 110px;
    font-size: 14px;
    padding: 3px 10px;
    text-align: left;
}

header.for-anonymous .button01.small::after {
    right: 10px;
}

nav.for-anonymous.slide-menu {
    position: fixed;
    padding-top: 60px;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 9998;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background: #f8f8f8;
}

@media only screen and (min-width: 769px) {
    nav.for-anonymous.slide-menu {
        display: none;
    }
}

nav.for-anonymous .side-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    background: #ffffff;
}

nav.for-anonymous .side-links li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

nav.for-anonymous .side-links li a {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #707070;
}

nav.for-anonymous .side-links li a::after {
    margin-left: 10px;
    background: url("n_right_gray.png") no-repeat left/cover;
    width: 6px;
    height: 8px;
}

nav.for-anonymous .side-links-list {
    border-top: 1px solid #ddd;
    background: #ffffff;
}

nav.for-anonymous .side-links-list > li {
    border-bottom: 1px solid #ddd;
}

nav.for-anonymous .side-links-list > li.color {
    background: #fff9e8;
}

nav.for-anonymous .side-links-list > li > a,
nav.for-anonymous .side-links-list > li span {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

nav.for-anonymous .side-links-list > li > a::after,
nav.for-anonymous .side-links-list > li span::after {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav.for-anonymous .side-links-list > li > .open {
    border-bottom: 1px solid #ddd;
}

nav.for-anonymous .side-links-list > li > .open.active::after {
    content: "−";
}

nav.for-anonymous .side-links-list > li > .open::after {
    content: "+";
    font-weight: bold;
    font-size: 16px;
}

nav.for-anonymous .side-links-list > li .sub-list {
    background: #ffffff;
}

nav.for-anonymous .side-links-list > li .sub-list > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

nav.for-anonymous .side-links-list > li .sub-list > li > a {
    text-decoration: none;
    padding: 13px 20px;
    display: block;
    font-size: 14px;
    position: relative;
}

nav.for-anonymous .side-links-list > li .sub-list > li > a::after {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav.for-anonymous .side-bottom-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav.for-anonymous .side-bottom-links li {
    margin: 0px 12px;
}

nav.for-anonymous .side-bottom-links li a {
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: #707070;
}

nav.for-anonymous .social-block {
    text-align: center;
}

nav.for-anonymous .social-block > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px 7px;
}

/* Footer */

footer.for-anonymous {
    padding: 60px 0px;
    background: #f8f8f8;

    color: #333;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
}

@media only screen and (max-width: 768px) {
    footer.for-anonymous {
        padding: 30px 0px;
    }
}

footer.for-anonymous .footer-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

footer.for-anonymous .footer-box .left-side .logo {
    width: 180px;
    margin-bottom: 35px;
}

footer.for-anonymous .footer-box .left-side .address {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0;
}

footer.for-anonymous .footer-box .left-side .email {
    font-size: 15px;
}

footer.for-anonymous .footer-box .left-side .email a {
    text-decoration: none;
}

footer.for-anonymous .footer-box .left-side .email a:hover {
    color: #333;
}

footer.for-anonymous .footer-box .left-side .social-icon a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff;
}

footer.for-anonymous .footer-box .right-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 768px) {
    footer.for-anonymous .footer-box {
        margin-bottom: 0;
    }
    footer.for-anonymous .footer-box .left-side {
        width: 100%;
        margin-bottom: 10px;
    }
    footer.for-anonymous .footer-box .left-side .logo {
        margin: 0 auto 15px;
    }
    footer.for-anonymous .footer-box .left-side .address {
        font-size: 12px;
    }
    footer.for-anonymous .footer-box .left-side .email {
        font-size: 12px;
        text-align: center;
    }
    footer.for-anonymous .footer-box .left-side .center-tb {
        text-align: center;
    }
    footer.for-anonymous .footer-box .left-side .social-icon {
        text-align: center;
    }
}

footer.for-anonymous .footer-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
}

footer.for-anonymous .footer-btn > .btn {
    display: block;
    background: #ffce02;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.6;
    text-decoration: none;
    width: 330px;
    border: 2px solid #333333;
    border-radius: 15px;
    padding: 13px 0px;
    position: relative;
}

footer.for-anonymous .footer-btn > .btn::after {
    content: "";
    background: url("../anonymous/images/button_right.82054d4a8596.png") no-repeat left/cover;
    width: 6px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer.for-anonymous .footer-btn > .btn > span {
    display: block;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1.7;
}

@media only screen and (max-width: 768px) {
    footer.for-anonymous .footer-btn {
        margin-bottom: 32px;
    }
    footer.for-anonymous .footer-btn > .btn {
        width: 100%;
        font-size: 16px;
        padding: 6px 0;
    }
    footer.for-anonymous .footer-btn > .btn:not(:last-child) {
        margin-bottom: 12px;
    }
    footer.for-anonymous .footer-btn > .btn > span {
        font-size: 12px;
    }
}

footer.for-anonymous .copy-right {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0;
    color: #707070;
}

@media only screen and (max-width: 768px) {
    footer.for-anonymous .copy-right {
        font-size: 11px;
        text-align: center;
    }
}

footer.for-anonymous .site-map {
    margin-top: -16px;
}

footer.for-anonymous .site-map li {
    border-bottom: 2px solid #efefef;
    width: 225px;
}

footer.for-anonymous .site-map li > a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 0;
}

footer.for-anonymous .site-map li > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    content: "";
    background: url("../anonymous/images/button_right.82054d4a8596.png") no-repeat left/cover;
    width: 6px;
    height: 8px;
}

footer.for-anonymous .site-map li:not(.top) > a {
    padding-left: 13px;
}

footer.for-anonymous .site-map li.top > a {
    font-weight: bold;
}

/* donation section */

.for-anonymous.donation {
    margin-bottom: 96px;
}

.for-anonymous.donation .border-box-primary {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.for-anonymous.donation .img-wrap {
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}

.for-anonymous.donation .txt-wrap {
    border: 2px solid #ffce02;
    border-radius: 20px 0 0 20px;
    width: 50%;
    padding-top: 35px;
}

.for-anonymous.donation .txt-wrap h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.7;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.for-anonymous.donation .txt-wrap h3::after {
    content: '';
    background: url("../anonymous/images/h3_before.a9072ce83ee5.png") no-repeat left/cover;
    width: 105px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
    .for-anonymous.donation .border-box-primary .txt-wrap {
        width: 100%;
        border-radius: 20px;
        padding: 19px 0px 30px;
    }

    .for-anonymous.donation .border-box-primary .img-wrap {
        display: none;
    }
}

.for-anonymous.donation .center-text {
    text-align: center;
}

.for-anonymous.donation .button01 {
    display: inline-block;
    min-width: 300px;
    border: 2px solid #333;
    border-radius: 30px;
    position: relative;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.8;
    font-weight: bold;
    background: #ffce02;
    text-decoration: none;
    padding: 14px 23px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
